<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarpa.autopay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>

        <activity
            android:name="com.example.sarpa.autopay.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sarpa.autopay.MyPageActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.MyCardActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.MonthlyReportActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.EnrollCardActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.AnalysisActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.SettingActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
        <activity android:name="com.example.sarpa.autopay.MapActivity"
            android:parentActivityName="com.example.sarpa.autopay.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarpa.autopay.MainActivity" />
        </activity>
    </application>




</manifest>